name: pipeline
'on':
  schedule:
    # * is a special character in YAML so you have to quote this string
    # https://crontab.guru/#15_7_*_*_1-5
    # cron job runtime is UTC
    - cron: '15 7 * * 1-5' # GMT
    # - cron: '15 6 * * 1-5' # BST
  workflow_dispatch: {}
jobs:
  run-pipeline:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      changes: ${{ steps.updated.outputs.changes }}
    steps:
      - name: Check-out repo
        uses: actions/checkout@v4

      - name: 'Install R'
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: renv
          use-public-rspm: true
      
      - name: Install system dependencies
        run: sudo apt-get install --yes libgdal-dev libgeos-dev libproj-dev libudunits2-dev libfontconfig1-dev libharfbuzz-dev libfribidi-dev

      - name: Setup {renv}
        uses: r-lib/actions/setup-renv@v2
        # with:
        #   profile: pipeline

      - name: Setup {pandoc}
        uses: r-lib/actions/setup-pandoc@v2

      # - name: Install dvc
      #   run: pip install dvc

      - name: Generate data
        run: dvc repro

      - name: Set current date
        run: echo "NOW=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Check for updates
        id: updated
        run: echo "changes=$(git status --short data/ | wc -l)" >> $GITHUB_OUTPUT

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update ONS datasets ${{ env.NOW }}
          # file_pattern: data-raw data
      
      - name: SSH Sync Action
        uses: Lexty/ssh-sync-action@v1.0.0
        with:
          host: ${{ secrets.EA_SFTP_SERVER }}
          user: ${{ secrets.EA_SFTP_USERNAME }}
          key: ${{ secrets.EA_SFTP_SSH }}
          rsync_upload: |
            ./data/parquet/ => /opt/sites/data.economic-analytics.co.uk/edd/
            ./data/edd_dict.csv => /opt/sites/data.economic-analytics.co.uk/edd/

      # - if: Commit and publish changes output has committed
      #  Call the deploy workflow

  # removing this as we're going to try getting deploy.yaml to call from this one instead
  # deploy-app:
  #   needs: run-pipeline
  #   if: needs.run-pipeline.outputs.changes > 0
  #   uses: ./.github/workflows/deploy.yaml
  #   secrets: inherit
